            .col-md-4
              %h4.company Ajilon IT Consulting
              .year 2009-2010
            .col-md-8
              %h4.title Ingénieur Étude & Développement
              .description
                %p Mars 2009 à Mars 2010, Ajilon IT Conseil, SSII basée sur Villeneuve d'Ascq
                %h5 NordNet - Ingénieur d'études
                %p.justify Mission d'un an sur la conception et réalisation d'applications autour de la réservation et de la gestion de son hébergement / nom de domaine.
                .activities
                  Activités
                  %ul
                    %li Réservation de noms de domaines
                    %li Gestion de son hébergement / nom de domaine
                    %li Back Office de gestion des comptes
                .environment
                  Environnement :
                  %ul.skills.list-unstyled
                    %li
                      %ul.list-inline
                        %li
                          %a PHP
                        %li
                          %a Symfony
                %h5 Supermarchés MATCH - Ingénieur d'études
                %p.justify Conception et réalisation d'applications Java interrogant un BackOffice IBM AS400
                .activities
                  Activités
                  %ul
                    %li Implémentation du SSO CAS
                    %li Maintenance et développement d'une application d'agenda entrepôts
                .environment
                  Environnement :
                  %ul.skills.list-unstyled
                    %li
                      %ul.list-inline
                        %li
                          %a Java
                        %li
                          %a Spring
                        %li
                          %a Hibernate
