            .col-md-4
              %h4.company
                Anaïk
                %br
                Groupe Casaque
              .year 2007
            .col-md-8
              %h4.title Ingénieur Étude & Développement
              .description
                %p Juillet à Octobre 2007, Anaïk, Conception et fabrication textile d'accessoires de mode
                .activities
                  Activités
                  %ul
                    %li Conception et réalisation d'un module de création de portfolio
                    %li Formation des utilisateurs
                .environment
                  Environnement :
                  %ul.skills.list-unstyled
                    %li
                      %ul.list-inline
                        %li
                          %a VB.net
                        %li
                          %a Birt
