            .col-md-4
              %h4.company Ineat Conseil
              .year 2010-2015
            .col-md-8
              %h4.title Architecte - Expert DevOps - Ingénieur d'Études
              .description
                %p Mars 2010 à Aujourd'hui, Ineat Conseil, SSII basée sur Lille.
                %h5 Kiabi (conseil + régie) - Architecte & Expert DevOps
                %p.justify Accélération des processus de déploiement avec la mise en place d'un nouvel outil XL Deploy, et outillage de la chaine de build avec une refonte de l'usine de développement.
                .activities
                  Activités :
                  %ul
                    %li
                      Automatisation du déploiement avec XLDeploy
                      %ul
                        %li Implémentation de l'outil
                        %li Formation des équipes
                        %li Accompagnement au changement
                    %li Provisionning d'une usine de développement
                    %li Accompagnement au changement de SCM
                .environment
                  Environnement :
                  %ul.skills.list-unstyled
                    %li
                      %ul.list-inline
                        %li
                          %a Java
                        %li
                          %a Maven
                        %li
                          %a XLDeploy
                        %li
                          %a RPM
                        %li
                          %a Sonar
                        %li
                          %a Nexus
                        %li
                          %a Jenkins
                        %li
                          %a Testlink
                        %li
                          %a Nexus
                        %li
                          %a Selenium
                %h5 Adeo Services (régie) - Architecte & Tech Lead
                %p.justify
                  Dans le cadre du développement d'une plateforme de gestion de contenu e-Commerce basée sur une solution Big Data (Hadoop, HBase, SolR) exposant la donnée sour forme d'API Rest, réalisation du site vitrine de Leroy Merlin Ukraine en 3 itérations :
                  %ul
                    %li Bac à sable : permettre aux responsables rayons de consulter le catalogue et étoffer les fiches produits
                    %li Alpha : version exploitable en interne et présentant toutes les fonctionnalités attendues
                    %li Beta : intégration des flux magasins
                .activities
                  Activités :
                  %ul
                    %li Architecture applicative
                    %li Mise en place du socle de développement (TDD + Déploiement Continu)
                    %li Provisionning des environnements
                    %li Déploiement automatisé
                    %li Responsable qualité
                .environment
                  Environnement :
                  %ul.skills.list-unstyled
                    %li
                      %ul.list-inline
                        %li
                          %a Java
                        %li
                          %a Maven
                        %li
                          %a Spring
                        %li
                          %a Rest
                        %li
                          %a RPM
                        %li
                          %a Sonar
                        %li
                          %a Nexus
                        %li
                          %a Puppet
                        %li
                          %a Hadoop
                        %li
                          %a HBase
                        %li
                          %a SolR
                %h5 Centre de Services - Responsable Socle Applicatif & Animateur DevOps
                .activities
                  Activités :
                  %ul
                    %li GCL des outils et environnements de développement
                    %li Industrialisation des socles de développement Java/PHP
                    %li Gestion des environnements virtuels Unix
                    %li Animation autour du DevOps
                    %li Accompagnement en Avant-Vente
                    %li Coaching Technique
                .environment
                  Environnement :
                  %ul.skills.list-unstyled
                    %li
                      %ul.list-inline
                        %li
                          %a Java/PHP
                        %li
                          %a Symfony2
                        %li
                          %a J2EE
                        %li
                          %a Maven
                        %li
                          %a Jenkins
                        %li
                          %a SCRUM
                %h5 Happychic (régie) - Architecte
                %p.justify Mise en place d'un ERP au sein de la DSI pour l'intégration des multiples applications gérant l'activité récurrente des services de la DSI.
                .activities
                  Activités :
                  %ul
                    %li Conception et réalisation d'une solution permettant l'activation/désactivation de modules Symfony à chaud
                    %li Industrialisation du socle de développement (TDD + Déploiement Continu)
                    %li Reprise des applications existantes et intégration sur la nouvelle plateforme
                .environment
                  Environnement :
                  %ul.skills.list-unstyled
                    %li
                      %ul.list-inline
                        %li
                          %a PHP
                        %li
                          %a Symfony
                        %li
                          %a Oracle
                        %li
                          %a Jenkins
                %h5 Domyos (forfait) - Responsable GCL et Delivery
                .activities
                  Activités :
                  %ul
                    %li Architecture applicative des flux eCommerce
                    %li GCL des environnements de développement
                    %li Industrialisation du socle de développement (TDD + Déploiement Continu)
                    %li Automatisation des livraisons
                    %li Accompagnement au changement de SCM
                .environment
                  Environnement :
                  %ul.skills.list-unstyled
                    %li
                      %ul.list-inline
                        %li
                          %a PHP
                        %li
                          %a CMS
                        %li
                          %a MySQL
                        %li
                          %a Jenkins
                        %li
                          %a RPM
                        %li
                          %a SCRUM
                %h5 Leroy Merlin (régie) - Responsable d'application
                %p.justify
                  Mission de deux ans pour la maintenance du parc applicatif PHP autour de l'intranet Leroy Merlin :
                  %ul
                    %li Gestion des calendriers entrepôts
                    %li Gestion des colis
                    %li Interface de création de blogs
                    %li Outil de création de formulaires (Google Forms)
                .activities
                  Activités :
                  %ul
                    %li Industrialisation du socle de développement (TDD + Déploiement Continu)
                    %li Conception et réalisation d'applications Symfony
                    %li Intégration d'applications PHP au sein d'un portail Nuxeo sous la forme de widgets Open Social
                .environment
                  Environnement :
                  %ul.skills.list-unstyled
                    %li
                      %ul.list-inline
                        %li
                          %a PHP
                        %li
                          %a Symfony2
                        %li
                          %a Nuxeo
                        %li
                          %a PostgreSQL
                        %li
                          %a CAS
                        %li
                          %a Jenkins
                        %li
                          %a RPM
                        %li
                          %a Kanban
