            .col-md-4
              %h4.company
                Laboratoire .NET
                %br
                Supinfo Paris
              .year 2004-2006
            .col-md-8
              %h4.title Assistant Formateur
              .description
                .activities
                  Activités
                  %ul
                    %li Conception et réalisation de supports de formations PHP/HTML/CSS (Cours & TP)
                    %li Veille technologique autour de la plateforme .NET
